<div class="container row-1 my-4" style="background: #343a40">
    <h1 class="text-center px-3" id="titulo">ACERCA DE NOSOTROS</h1>
</div>

<div class="row-3 container border border-white" >
    <div class="row-8 container border-bottom border-white">
        <h3 class="text-center text-white">VISIÓN</h3>
    </div>
    <div class="row-8 container">
        <h6 class="container text-white text-center">
            Somos una empresa de venta de medicamentos y otros productos a nivel nacional, 
            nos caracterizamos por mantener calidad de nuestros productos junto a una comprobada y sostenida por nuestros clientes.
        </h6>
    </div>
</div>
<div class="row-3 container border border-white">
    <div class="row-8 container border-bottom border-white">
        <h3 class="text-center text-white">MISIÓN</h3>
    </div>
    <div class="row-8 container">
        <h6 class="container text-white text-center">
            Ser la empresa lider a nivel nacional en venta de medicamentos y otros diversos productos, 
            manteniendo la calidad y estandar que nos ubica como empresa lider del sector
        </h6>
    </div>
</div>
<div class="row-3 container border border-white">
    <div class="row-8 container border-bottom border-white">
        <h3 class="text-center text-white">VALORES</h3>
    </div>
    <div class="row-8 container">
        <h6 class="container text-white text-center">
            Compromiso con el cliente. <br>
            Comunicacion clara y honesta. <br>
            Responsabilidad. <br>
            Integridad.
        </h6>
    </div>
</div>
<div class="row-3 container border border-white">
    <div class="row-8 container border-bottom border-white">
        <h3 class="text-center text-white">OBJETIVOS</h3>
    </div>
    <div class="row-8 container">
        <h6 class="container text-white text-center">
            Ser líderes en el mercado. <br>
            Ofrecer los mejores productos. <br>
            Brindar el mejor servicio. <br>
        </h6>
    </div>
</div>