<div class="row-1 my-4" style="background: #343a40">
    <h1 class="text-center px-3" id="titulo">CONTÁCTANOS</h1>
</div>

<form action="" method="post">
    <div class="form-group row m-2">
        <div class="container col-sm-2 mx-3 px-0">
            <label class="control-label text-white" >Sede Yanahuara</label>
        </div>
        <div class="container col-sm-9">
            <div class="row">
                <input class="form-control my-1" type="text" style="width: 70%;" value="Cooperativa Víctor Andrés Belaunde L-13 - Yanahuara - Arequipa" readonly>
            </div>
            <div class="row my-2 z-depth-1-half map-container-5" style="height: 300px">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3827.5950401782193!2d-71.55384387352798!3d-16.39457876790527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424a6602cb3a89%3A0x5786ba2a19c27d7!2sUrbano%20Victor%20A.%20Belaunde%2013%2C%20Arequipa%2004014!5e0!3m2!1ses-419!2spe!4v1633161102600!5m2!1ses-419!2spe" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>

    <div class="form-group row m-2">
        <div class="container col-sm-2 mx-3 px-0">
            <label class="control-label text-white" >Sede Cayma</label>
        </div>
        <div class="container col-sm-9">
            <div class="row">
                <input class="form-control my-1" type="text" style="width: 70%;" value="Calle melgar 105  - Cayma - Arequipa" readonly>
            </div>
            <div class="row my-2 z-depth-1-half map-container-5" style="height: 300px">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3827.8501784724085!2d-71.54758055321916!3d-16.38159270598268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424a3fe9640f7f%3A0x3a77e5bc0bf8b281!2sMariano%20Melgar%20105%2C%20Arequipa%2004017!5e0!3m2!1ses-419!2spe!4v1633161468352!5m2!1ses-419!2spe" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>

    <div class="row-11">
        @* <div class="form-group row m-2">
            <div class="container col-sm-2 mx-3 px-0">
                <label class="control-label text-white" >Correo</label>
            </div>
            <div class="container col-sm-9 p-0">
                <input class="form-control" type="text" style="width: 70%;" value="MonoGamingStore@gmail.com" readonly>
            </div>
        </div> *@

        <div class="form-group row m-2">
            <div class="container col-sm-2 mx-3 px-0">
                <label class="control-label text-white" >Teléfono</label>
            </div>
            <div class="container col-sm-9">
                <div class="row my-2">
                    <input class="form-control my-1" type="text" style="width: 70%;" value="959 909 116" readonly>
                </div>
            </div>
        </div>
    </div>
</form>
    
</div>
