@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-5" id="titulo">@ViewData["Title"] Hilario</h1>
</div>

<div class="container">
    <section>
        <div class="text-center"><img src="/imagenes/Foto1.png" alt="" width="auto" height="400px"></div>
    </section>
</div>