@{
    ViewData["Title"] = "Módulo de Cliente";
}

<div class="text-center">
    <h1 class="display-5" id="titulo">@ViewData["Title"] Hilario</h1>
</div>

<div class="row" id="panel">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" id="panelEnganaMuchachos">
        <a href="/Cliente/Cliente">@* <a href="/Cliente/Create"> *@
            <div class="card" id="tarjeta" data-toggle="tooltip" data-placement="top" title="Registrar Cliente">
                <div class="container" id="tarjetita">
                    <img src="/imagenes/CARD-RegistrarCliente.png" alt="Avatar" id="icono">
                    <p class="card-title text-center" id="modulo">Insertar Producto</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" id="panelEnganaMuchachos">
        <a href="/Producto/Stock">
            <div class="card" id="tarjeta" data-toggle="tooltip" data-placement="top" title="Ver Stock">
                <div class="container" id="tarjetita">
                    <img src="/imagenes/CARD-VerStock.png" alt="Avatar" id="icono">
                    <p class="card-title text-center" id="modulo">Actualizar Producto</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" id="panelEnganaMuchachos">
        <a href="/Home/Licencia">
            <div class="card" id="tarjeta" data-toggle="tooltip" data-placement="top" title="Consultar Licencias">
                <div class="container" id="tarjetita">
                    <img src="/imagenes/CARD-ConsultarLicencias.png" alt="Avatar" id="icono">
                    <p class="card-title text-center" id="modulo">Eliminar Producto</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" id="panelEnganaMuchachos">
        <a href="/Home/Cotizacion">
            <div class="card" id="tarjeta" data-toggle="tooltip" data-placement="top" title="Generar Cotización">
                <div class="container" id="tarjetita">
                    <img src="/imagenes/CARD-GenerarCotizacion.png" alt="Avatar" id="icono">
                    <p class="card-title text-center" id="modulo">Listar Productos</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" id="panelEnganaMuchachos">
        <a href="/Comprobante/Venta">
            <div class="card" id="tarjeta" data-toggle="tooltip" data-placement="top" title="Generar Cotización">
                <div class="container" id="tarjetita">
                    <img src="/imagenes/CARD-GenerarCotizacion.png" alt="Avatar" id="icono">
                    <p class="card-title text-center" id="modulo">Buscar Productos</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" id="panelEnganaMuchachos">
        <a href="/Home/Factura">
            <div class="card" id="tarjeta" data-toggle="tooltip" data-placement="top" title="Generar Factura">
                <div class="container" id="tarjetita">
                    <img src="/imagenes/CARD-SolicitudDeCompra.png" alt="Avatar" id="icono">
                    <p class="card-title text-center" id="modulo">Registrar Venta</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" id="panelEnganaMuchachos">
        <a href="/Home/Factura">
            <div class="card" id="tarjeta" data-toggle="tooltip" data-placement="top" title="Generar Factura">
                <div class="container" id="tarjetita">
                    <img src="/imagenes/CARD-BusquedaDeClientes.png" alt="Avatar" id="icono">
                    <p class="card-title text-center" id="modulo">Registrar Venta</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" id="panelEnganaMuchachos">
        <a href="/Home/Factura">
            <div class="card" id="tarjeta" data-toggle="tooltip" data-placement="top" title="Generar Factura">
                <div class="container" id="tarjetita">
                    <img src="/imagenes/CARD-GenerarFactura.png" alt="Avatar" id="icono">
                    <p class="card-title text-center" id="modulo">Historial de Ventas</p>
                </div>
            </div>
        </a>
    </div>
</div>