@{
    ViewData["Title"] = "Módulo de Cliente";
}

<div class="text-center">
    <h1 class="display-5" id="titulo">@ViewData["Title"] Hilario</h1>
</div>

<section id="letra">
    <p>Cliente Vista 2</p>
</section>